[submodule "Dependency/GLFW"]
	path = Dependency/GLFW
	url = https://github.com/Jayantkumar56/glfw
[submodule "Dependency/imgui"]
	path = Dependency/imgui
	url = https://github.com/Jayantkumar56/imgui
	branch = docking
[submodule "Dependency/glm"]
	path = Dependency/glm
	url = https://github.com/g-truc/glm
